@import "variables";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

/**/


/* Medium Devices, Desktops */
@media only screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  header {
    .form-header {
      max-width: 100%;
    }
  }

  .resume {
    .row {
    }

    .resume__img {
      img {
      }
    }

    .resume__text {
      margin: 0;

      .resume__title {
        margin-top: 0;
        font-size: 1.625rem;
      }

      .resume__about {
        font-size: 1.25rem;
      }
    }
  }

  .work {

    .boxes-wrap {
      grid-template-columns: 1fr;
      row-gap: 30px;
      .box {
        display: flex;
        margin: 0 15px;
        .wrap-box-number {

          margin: 5px 25px 0 0;
          height: 100%;
        }
        .box-title {
          display: flex;
        }
        .line {
          background: #e6e6e6;
          width: 1px;
          left: 19px;
          height: calc(100% + 30px);
        }
      }
    }



  }
  .tariff {
    .section-title {
    }

    .section-subtitle {
      margin-bottom: 10px;
    }

    .boxes-wrap {
      flex-direction: column;
      align-items: center;
      margin: 0;
      .box {
        width: 80%;
        margin: 10px 0;
        .tariff__name {
          margin: 0 0 5px;
        }

        .tariff__about {
          margin: 0;
        }
        .btn {
          margin-top: 40px;
        }
      }
    }
  }
  .form-communication {
    .section-title {
      padding-top: 8px;
      padding-bottom: 3px;
    }

    .form {
      .form__item {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        width: 90%;

        span {
          font-weight: 300;
          font-size: 1.25rem;
          line-height: 1.55;
          margin-bottom: 5px;
        }

        input {
          padding: 12px;
          font-size: 1rem;
        }
      }

      .btn {
        color: #ffffff;
        font-size: 1rem;
        border: 2px solid #2971f5;
        background: #2971f5;
        border-radius: 30px;
        text-align: center;
        height: 3.75rem;
        width: 15.625rem;
        padding: 0 30px;
        margin: 30px auto auto;
        white-space: nowrap;
        vertical-align: middle;
        font-weight: 700;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .submit {
        p {
          margin-top: 30px;
          font-size: 0.9375rem;
          line-height: 1.55;
          font-weight: 300;
        }
      }
    }
  }
}


/**/


/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .advantage {

    .section-title {
    }

    .row {
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .box {
        width: 100%;

        img {
        }

        .h3 {
        }

        p {
        }
      }
    }
  }
}

/**/

@media only screen and (max-width: 600px) {
  .resume {
    .row {
      flex-wrap: wrap;
    }

    .resume__img {
      text-align: center;
      padding-bottom: 25px;

      img {
        width: 65%;
      }
    }

    .resume__text {
      margin: 0;
      text-align: center;

      .resume__title {
        margin-top: 0;
        font-size: 1.625rem;
      }

      .resume__about {
        font-size: 1.25rem;
      }
    }
  }
  .work {
    .boxes-wrap {
      .box {
        .box__text {
        }
      }
    }


  }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  html {
    font-size: 10px;
  }
  header{
    height: auto;
    padding: 65px 0;
  }
  .menu{
    top:12px;
    right: 12px;
  }
  .tariff {
    .download:before{
      margin-right: 35px;
      margin-top: 3px;
      margin-left: -20px;
      width: 20px;
      height: 20px;
      font-size: 10px;
      padding: 2px 0 0 1px;
    }
  }
}

/**/


/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }

}

/**/
