@import "fonts";
@import "libs";
@import "variables";
@import "_libs/_slick";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

html, body {
  font-size: 16px;
  position: relative;
  font-family: $default-font;
}

body {
  margin: 0;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

::selection {
  color: #fff;
}

section {
  padding: 150px 0;
}

.section-title {
  margin: 0;
}

header {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 1)), url("../img/header.webp") no-repeat scroll;
  background-size: cover;
  padding: 20px 0;
  overflow: hidden;

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    .row {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
    }
  }


  .header-composition {
    color: $white;

    .h1 {
      margin-top: 0;
      font-size: 4.5rem;
      line-height: 1.17;
      white-space: nowrap;
    }

    p {
      font-size: 1.625rem;
      line-height: 1.45;
      font-weight: 300;
    }
  }

  .form-header {
    background: $white;
    padding: 34px;
    max-width: 320px;

    &:first-child {
      padding-top: 20px;
    }

    .submit-btn {
      background: $black;
      color: $white;
      font-weight: 700;
    }


    input {
      font-size: 1rem;
      border: none;
      background: rgb(240, 240, 240);
      padding: 15px;
      margin: 10px 0;
      width: 100%;
    }

    p {
      font-size: 14px;
      line-height: 16px;
      padding: 8px 0;
      margin: 0;
      font-weight: 300;
    }
  }
}

.overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: .6;
}

.menu {
  outline: none;
  position: fixed;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  right: 20px;
  top: 20px;
  z-index: 99;

  &:hover {
    .circle {
      opacity: 1;
    }
  }

  .circle {
    transition: .3s;
    background: #111;
    position: absolute;
    width: 48px;
    height: 48px;
    opacity: 0.50;
    border-radius: 50%;

  }

  .burger {
    display: flex;
    flex-direction: column;
    position: absolute;

    .line {
      height: 2px;;
      margin: 2px;
      width: 23px;
      background: $white;
    }
  }

}

nav {
  max-width: 260px;
  width: 100%;
  transition: right linear 0.2s;
  white-space: nowrap;
  color: $white;
  position: fixed;
  right: -100%;
  top: 0;
  padding: 40px;
  background: $black;
  z-index: 999;
  height: 100vh;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;


    .menu__telegram {
      font-size: 2rem;
      margin-top: 10px;
      color: $white;
    }

    li {
      font-size: 1.25rem;
      padding: 5px;
      &:hover{
        font-weight: 600;
      }

      a {
        text-decoration: none;
        color: $white;
      }
    }
  }

  &.active {
    right: 0;
  }

  .exit {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    transition: .3s;
    cursor: pointer;
  }

  &:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 23px;
    background: $white;
    transform: rotate(45deg);
    top: 20px;
    right: 10px;

  }

  &:after {
    top: 20px;
    right: 10px;
    position: absolute;
    content: '';
    height: 2px;;
    width: 23px;
    background: $white;
    transform: rotate(-45deg);
  }
}



.resume {

  .row {
    display: flex;
    justify-content: center;
  }

  display: flex;
  justify-content: center;
  padding: 150px 0;

  .resume__img {

    img {
      width: 100%;
      height: 100%;
    }
  }

  .resume__text {
    margin: auto;

    .resume__title {
      font-size: 24px;
      line-height: 1.35;
      font-weight: 600;
    }

    .resume__about {
      font-size: 18px;
      line-height: 1.55;
      font-weight: 300;
    }
  }
}

.advantage {
  background: $gray;

  .section-title {
    text-align: center;
    font-size: 2.625rem;
    line-height: 1.23;
    margin-bottom: 100px;
  }

  .row {
    display: flex;
    justify-content: space-between;

    .box {
      width: 25%;
      text-align: center;
      margin: 0 20px 45px;

      img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
      }

      .h3 {
        font-size: 1.875rem;
        line-height: 1.17;
      }

      p {
        line-height: 1.55;
      }
    }
  }
}

.result {
  text-align: center;

  .section-title {
    font-size: 3.75rem;
    line-height: 1.17;
  }

  .section-subtitle {
    font-size: 1.625rem;
    line-height: 1.45;
    font-weight: 300;
    margin-bottom: 120px;
    margin-top: 50px;
  }

  .slider {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.work {
  background: $gray;

  .row {
    display: flex;
    flex-direction: column;
  }

  .section-title {
    font-size: 3rem;
    text-align: center;
    padding: 0 10px;
  }

  .section-subtitle {
    font-size: 1.375rem;
    font-weight: 600;
    text-align: center;
    padding: 0 10px;
  }

  .boxes-wrap {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 120px;

    .box {
      position: relative;

      .line {
        height: 1px;
        width: 100%;
        background: #e6e6e6;
        top: 18px;
        right: -20px;
        position: absolute;
        z-index: 2;
      }

      .wrap-box-number {
        position: relative;
        margin-bottom: 25px;
        width: 38px;
        height: 38px;

        .box-number {
          z-index: 5;
          position: absolute;
          font-weight: bold;
          color: $white;
          width: 38px;
          height: 38px;
          background: $black;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;

        }
      }

      b {
        font-size: 1.25rem;
        line-height: 1.35;
      }

      ul {
        margin: 10px 0;
        padding: 0 0 0 20px;

        li {
          font-size: 1rem;
        }

      }
    }

  }

}

.tariff {
  .row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .section-title {
    font-size: 2.625rem;
    line-height: 1.23;
    margin-bottom: 40px;
    font-weight: 600;
  }

  .section-subtitle {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 100px;
  }

  .boxes-wrap {
    display: flex;
    align-items: baseline;
    margin: 0 -15px;

    .box {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      margin: 0 15px;
      border: 1px solid #e0e6ed;
      border-radius: 9px;
      padding: 40px 30px;
      text-align: center;


      .tariff__name {
        margin: 0 0 10px;
        font-size: 1.25rem;
        font-weight: 600;
      }

      .tariff__about {
        margin: 0;
        color: #777;
        font-size: 0.875rem;
        line-height: 1.55;
      }

      b {
        margin: 30px 0 0 0;
        font-size: 2.375rem;
      }

      p {
        margin: 0;
        padding: 10px;
        font-size: 1rem;
        line-height: 1.55;
        font-weight: 300;
      }

      .btn {
        width: 10.625rem;
        padding: 0 30px;
        height: 2.8125rem;
        background: #13ce66;
        color: #ffffff;
        margin: 80px auto auto;
        text-align: center;
        white-space: nowrap;
        font-weight: 700;
        cursor: pointer;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
      }
    }

    .box-shadow {
      padding: 50px 30px;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    }

  }

  .download {
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    color: $black;
    font-weight: 300;
    font-size: 1.625rem;
    line-height: 1.55;
    position: relative;

    &:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 16px;
      content: '\f054';
      color: #ff8562;
      text-align: center;
      padding: 2px 0 0 2px;
      position: absolute;
      width: 30px;
      height: 30px;
      margin-top: 3px;
      margin-left: -45px;
      border: 1px solid #ff8562;
      border-radius: 50%;
    }
  }
}

.form-communication {
  .row {
    display: flex;
    flex-direction: column;
  }

  .section-title {
    font-size: 3.25rem;
    padding-top: 8px;
    margin: 0 10px;
    padding-bottom: 3px;
    line-height: 1.23;
    font-weight: 600;
    text-align: center;
  }

  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .form__item {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
      width: 70%;

      span {
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 1.55;
        margin-bottom: 5px;
      }

      input {
        padding: 18px;
        font-size: 1rem;
      }
    }

    .btn {
      color: #ffffff;
      font-size: 1rem;
      border: 2px solid #2971f5;
      background: #2971f5;
      border-radius: 30px;
      text-align: center;
      height: 3.75rem;
      width: 15.625rem;
      padding: 0 30px;
      margin: 30px auto auto;
      white-space: nowrap;
      vertical-align: middle;
      font-weight: 700;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .submit {
      p {
        margin-top: 30px;
        font-size: 0.9375rem;
        line-height: 1.55;
        font-weight: 300;
      }
    }
  }
}

.link {
  background: $gray;


  .row {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-title {
      margin-bottom: 40px;
    }
  }

  .info {
    text-align: center;
    font-size: 2.75rem;
    line-height: 1.23;
    font-weight: 600;
  }

  .telegram {
    color: $black;
    font-size: 2.5rem;
    margin-top: 15px;
  }
}

footer {
  background-color: #171717;
  height: 250px;
  justify-content: center;
  align-items: center;

  .container {
    height: 100%;
  }

  .row {
    color: $white;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    .copyright {
      font-size: 14px;
      padding-bottom: 10px;
      text-align: center;
      opacity: .7;
    }
  }
}

@import "media";

// Всегда в конце