$white: #ffffff;
$accent: #917452;
$green: #13ce66;
$black:#000000;
$gray:#ebebeb;
$footer: #171717;

$default-font: "Roboto", Arial, sans-serif;
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 990px,
        xl: 1200px
) !default;